@import url("../uicore/uicore.css");

#homelink {
    background: url('icons/GMet_Logo.jpg') center no-repeat;
    background-size: 52px;
}

.optionsBar:after {
content: "";
    background: url('icons/GMet_Logo.jpg') center no-repeat;
background-size: 52px;
}

.optionsBar::after {
content: "";
    background: url('icons/GMet_Logo.jpg') center no-repeat;
background-size: 52px;
}

@media only all and (max-width: 750px) {
#homelink {
    background: url('icons/GMet_Logo.jpg') center no-repeat;
background-size: 36px;
}
}

@media only all and (max-width: 479px) {
.optionsBar::after, .optionsBar:after {
content: "";
    background: url('icons/GMet_Logo.jpg') center no-repeat;
background-size: 36px;
}
 #homelink {
height: 30px;
width: 30px;
    background: url('icons/GMet_Logo.jpg') center no-repeat;
background-size: 30px;
}
}

div {
    padding-left:15px;
    padding-right:15px;
    text-align: justify;
    }

p {
    text-align: justify;
    }

.p1 {
    padding-left:5px;
    padding-right:20px;
    display: block;
    }

a {
    text-decoration:none;
    font-weight:bold;
    color:#175e88;
    }
    
a:hover {
    text-decoration:none;
    font-weight:bold;
    color:#FF8C00;
    }
    
.titre1 {
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    }

.dlauximg.bis {
    padding-left:32px;
    width: 93%;
    }

.buttonInstructions.bis {
    margin-left:-45px;
    padding-bottom:10px;
    margin-bottom:20px;
    }

.dlimage.withMap  {
    margin-left:20px;
    margin-top:25px;
    padding-top:20px;
    padding-bottom:10px;
    margin-bottom:25px;
    }

.dlimg.bis  {
    width: 94%;
    }

.regionwithinbbox.dlimage.bis {
    margin-top:25px;
    margin-bottom:15px;
    padding-right:30px;
    padding-bottom:25px;
    }

